* {
	margin: 0;
}

html {
	background: #121212;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

html,
.content {
	position: fixed;
	inset: 0;
}

.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	align-items: center;
	justify-items: center;
}

.single {
	font-size: 2rem;
}

.double {
	font-size: 4rem;
	grid-column: 1/3;
}
