.outer {
	/* background */
	background: url("bg.jpg") center / cover;
	/* position */
	inset: 0;
	position: fixed;
	/* center (flex) */
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner {
	/* background */
	background: #fff7;
	/* width */
	width: 100vw;
	max-width: 1024px;
	/* height */
	height: 100vh;
	max-height: 576px;
	/* center (grid) */
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(2, auto);
}