@import url("../style.css");

div[body] {
	grid-auto-flow: column;
	grid-template-rows: repeat(14, 1fr);
}

p {
	color: #fff;
	font-size: calc(1vh + 1vw);
}

p[online] {
	color: #0f0;
}

p[offline] {
	color: #f00;
}
