* {
	margin: 0;
}

div[body] {
	background: #121212;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);

	align-items: center;
	justify-items: center;
}

a {
	font-size: calc(2vw + 2vh);
	color: #00f;
}
