@import url("./fira_code.css");

* {
	font-family: "Fira Code", monospace;
	background: #000;
	color: #fff;
}

div {
	inset: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
}

a {
	color: #00f;
}
