.content {
	grid-template-columns: repeat(7, 1fr);
	width: max(1000px, 100vw);
	position: absolute;
}

.column {
	display: grid;
	grid-auto-flow: row;

	align-items: center;
	justify-items: center;

	grid-template-rows: repeat(14, 1fr);

	height: 100%
}

p {
	color: #fff;
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: min(4vh, 4vw);

	text-align: center;
}